<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
	<!-- Turned Encryption to false since this is a local connection, not a production level-->
	<connectionStrings>
		<add name="DbConnectionString"
		connectionString="
			Server=MpKash-pc\SQLEXPRESS;
			Database=CookBookDb2;
			Trusted_Connection=True;
			Encrypt= False"
		providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!--only 2 possible values "txt" or "sql" -->		
		<add key="CurrentRepo" value="sql"/>
	</appSettings>
	
</configuration>